#main-header {
    background-color: #304b79;
    color: #fff;

    .main-header__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 1rem;
        gap: 1.5rem;
    }

    #main-header__logo {
        text-decoration: none;
        display: flex;
        align-items: center;
        gap: 0.25rem;

        #text_block-7-15 {
            text-transform: uppercase;
            font-family: 'Map Roman', serif;
            color: #dbb03d;
            // margin-bottom: 11px;
            font-size: 1.0625rem;
            letter-spacing: 1px;
            text-align: center;
        }
    }

    #-pro-menu-4-15 {
        .oxy-pro-menu-mobile-open-icon {
            cursor: pointer;
        }

        .oxy-pro-menu-mobile-close-icon {
            cursor: pointer;
            left: 88%;
            top: 20px;
            display: inline-flex;
            position: absolute;
            align-items: center;
            padding: 0.5rem;

            svg {
                width: 1.5rem;
                height: 1.5rem;
                fill: #fff;
            }
        }

        .oxy-pro-menu-container {
            display: none;

            &-open {
                display: flex;
                align-items: center;
                justify-content: center;
                position: fixed;
                background-color: #2b4675;
                max-height: 100vh;
                overflow: auto;
                width: 100%;
                top: 0;
                right: 0;
                left: 0;
                bottom: 0;
                z-index: 2147483642;
            }
        }

        .oxy-pro-menu-list {
            display: flex;
            padding: 0;
            margin: 0;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            .menu-item {
                color: #fff;
                font-size: 1rem;
                font-family: 'Map Roman', serif;
                text-transform: uppercase;
                letter-spacing: 1px;
                transition-duration: 0.6s;
                flex-direction: column;
                width: 100%;
                text-align: center;
                align-items: flex-start;
                justify-content: center;
                min-height: 32px;
                list-style-type: none;
                display: flex;
                transition-property: background-color, color, border-color;
                position: relative;
                white-space: nowrap;

                a {
                    color: #fff;
                    text-decoration: none;
                    padding: 1rem 1rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    height: 100%;
                    word-break: break-word;
                }
            }
        }
    }
}

@media screen and (min-width: 992px) {
    #main-header {

        #main-header__logo {
            #text_block-7-15 {
                font-size: 1.25rem;
            }
        }
        #-pro-menu-4-15 {
            .oxy-pro-menu-mobile-open-icon, .oxy-pro-menu-mobile-close-icon {
                display: none;
            }

            .oxy-pro-menu-container {
                display: block;
            }

            .oxy-pro-menu-list {
                flex-direction: row;
            }
        }
    }
}

@media screen and (min-width: 1400px) {
    #main-header {
        .main-header__container {
            padding: 1rem 3rem;
            max-width: 100%;
        }
    }
}